@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

button {
    all: unset;
}

body,
img,
button {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* input[type="checkbox"] {
    all: unset;
} */

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

/* Kada je vidljiv */
#overlay.active {
    display: block;
}

/* === HEADER === */
.menu-container {
    height: 12vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262a48;
}

.logo {
    font-size: 20px;
    user-select: none;
    padding: 0 10px;
    color: #bfc2cc;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hamburgerBtn {
    width: 30px;
    margin-right: 10px;
}

.dropdown-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 6;
    right: 0;
    top: calc(100% - 2px);
    top: 0;
}

.dropdown-content.show {
    display: block;
}

.menu-item {
    padding: 12px 16px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    transition: 0.2s;
}

.active-menu-item {
    background: #3f51b5;
    color: white;
}

/* === PROGRESS BAR === */
.progress-container {
    width: 100%;
    height: 2px;
    background: #cfd6ff;
    margin-top: -2px;
}

.progress-bar {
    height: 100%;
    background: #3f51b5;
    width: 0%;
    will-change: width;
    transform: translateZ(0);
}

/* === CAROUSEL / SLIDER === */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    /* min-height: 120px; */
    height: 35vw;
}

.box {
    width: 97vw;
    height: 28vw;
    background: #3f51b5;
    /* border-radius: 15px; */
    display: flex;
    justify-content: center;
    position: absolute;
    transition: transform 0.25s ease-out, opacity 0.25s ease-out;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-text {
    margin: 0;
    position: relative;
    width: 100%;
    z-index: 2;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: hsla(0, 0%, 0%, 0.65);
    align-self: end;
}

.category-description {
    font-size: 10px;
    margin-top: 7px;
}

.activeSlide {
    transform: translateX(0) scale(1);
    opacity: 1;
    visibility: visible;
    z-index: 2;
    pointer-events: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    /* border: 1px solid #593400; */
}

.nextSlide,
.prevSlide {
    transform: translateX(calc(100% + 5px)) scale(0.95);
    opacity: 0.6;
    visibility: visible;
    pointer-events: auto;
}

.prevSlide {
    transform: translateX(calc(-100% - 5px)) scale(0.95);
}

/* === CONTROLS === */
/* Osnovni stilovi za kontejner kontrola */
.controls {
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Stilovi za sva dugmad */
.controls .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 20px;
    background-color: #392a3e;
    color: white;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

/* Stilovi za strelice (napred/nazad) */
.controls .btn.prev,
.controls .btn.next {
    width: 20%;
    height: 10px;
}

/* Stilovi za dugme play */
.controls .btn.play {
    width: 30%;
    height: 15px;
    background: #2e8540;
}

/* Stilovi za dugme stop */
.controls .btn.play.stop {
    background-color: #981b1e;
    /* Crvena boja za stop dugme */
}

/* Stilovi za slike unutar dugmadi */
.controls .btn img {
    width: 100%;
    height: 100%;
}

/* === INFO CONTAINER === */
.data-container {
    box-sizing: border-box;
    position: relative;
    height: 200px;
    overflow: hidden;
    overflow-y: auto;
}

.data-item {
    position: absolute;
    width: 100%;
    height: 5000px;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    color: #262a48;
    transition: transform 0.25s ease-out, opacity 0.25s ease-out;
    opacity: 0;
    transform: translateX(100%);
}

.items-title {
    text-align: center;
}

.menu-card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    padding-top: 8px;
}

.menu-card-img {
    position: relative;
    width: 55%;
}

.menu-card img {
    /* width: 30%; */
    border-radius: 0 30px 30px 0;
}

.card-content {
    display: grid;
    width: 100%;
    padding: 0 10px;
    background: linear-gradient(180deg, rgba(177, 177, 177, 0.09) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(2, 0, 36, 0.05) 100%);
}

.subcategory-title {
    position: sticky;
    top: 0;
    z-index: 1;
    color: #fff;
    margin-top: 10px;
    padding: 0 15px;
    background-color: #1a3e4d;
    height: 8vw;
    display: flex;
    align-items: center;
}

.popup-content .card-content {
    /* width: 100%; */
    padding: 0;
}

.card-title,
.item-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.item-footer {
    align-self: self-end;
}

.error-container {
    text-align: center;
    padding: 2rem;
    color: red;
}

.activeData {
    transform: translateX(0);
    opacity: 1;
    z-index: 2;
}

.nextData,
.prevData {
    transform: translateX(100%);
    opacity: 0;
    visibility: visible;
}

.prevData {
    transform: translateX(-100%);
}

.container,
.data-container {
    touch-action: pan-y;
    user-select: none;
    overscroll-behavior: contain;
}

/* === POP-UP === */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: start;
    z-index: 5;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    position: relative;
}

.popup-content img {
    width: 100%;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.drinks-section {
    margin-top: 20px;
}

.popup-header .item-checkbox {
    margin-right: 10px;
    /* Razmak između čekboksa i naslova */
}

.popup-header .card-title {
    flex-grow: 1;
    /* Naslov zauzima preostali prostor */
    margin: 0;
    /* Uklanja default margin */
}

.popup-header .quantity-controls {
    display: flex;
    align-items: center;
    gap: 5px;
    /* Razmak između gumba i broja */
}

.popup-header .price {
    font-weight: bold;
    margin-left: 10px;
    /* Razmak između brojača i cijene */
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* === SETTING === */
/* Osnovni stil za settings meni */
.settings {
    display: block;
    padding: 10px;
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
    transition: transform 0.2s ease-in-out;
    transform: translateX(-100%);
}

/* Kada je settings meni otvoren */
.settings.open {
    transform: translateX(0);
}

.settings h3 {
    display: flex;
    justify-content: end;
    padding: 0 0 10px 0;
    font-size: 16px;
    border-bottom: 1px solid;
}

/* Overlay za settings meni */
.settings-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Kada je overlay aktivan */
.settings-overlay.active {
    display: block;
}

/* Stil za zatvaranje settings menija (opciono) */
.close-settings {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Stil za sadržaj unutar settings menija */
.settings-content {
    padding: 20px;
}

/* Stil za naslov settings menija */
.settings-content h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

/* Stil za input polja, dugmad i ostale elemente unutar settings menija */
.settings-content input,
.settings-content button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.settings-content button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.settings-content button:hover {
    background-color: #0056b3;
}


/* === CART === */
.cart {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 4;
    width: 100%;
    /* height: 100vh; */
    transform: translateX(100%);
    overflow-y: auto;
    transition: all 0.2s ease-out;
}

.cart.open {
    transform: translateX(0);
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
}

.cart h3 {
    font-size: 16px;
}

.cart .hamburger {
    padding: 5px;
}

.dropdown-menu {
    display: none;
    /* Sakriven po defaultu */
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 1000;
}

.dropdown-menu.show {
    display: block;
    /* Prikazuje se kada ima klasu "show" */
}

.total-price-container {
    /* display: none; */
    /* padding: 10px; */
    text-align: right;
    font-size: 1.2em;
    margin-right: 5px;
}

#totalPrice {
    font-weight: bold;
    color: #333;
}

#selectedItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding-top: 10px;
}

.empty-cart-message {
    text-align: center;
    font-size: 1.2em;
    color: #888;
    padding: 20px;
}

.cart-actions {
    /*  position: fixed;
    bottom: 0;
    left: 0; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

#backToMenuButton,
#clearAllButton {
    margin-top: 10px;
    padding: 5px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#backToMenuButton {
    background-color: #2b2d95;
    background-color: #053d60;
}

#clearAllButton {
    background-color: #850038;
    background-color: #e60023;
}

.selected-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    gap: 5px;
}

.title-quantity {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 5px;
}

.title-quantity-price {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    align-items: center;
}

.quantity-price {
    font-size: 14px;
}

.edit-item,
.remove-item {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-item {
    color: #007bff;
}

.edit-item:hover {
    color: #0056b3;
}

.remove-item img {
    width: 10px;
}

/* .remove-item:hover {
    color: #a71d2a;
} */

.selected-item {
    transition: all 0.2s ease-in-out;
}

.selected-item.fade-out {
    opacity: 0;
    transform: translateY(-10px);
}

/* === INFO MENU === */
.infoMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 12.5vw;
    padding: 0 20px;
    bottom: 0;
    background-color: #262a48;
    z-index: 3;
    border-top: 3px solid #fff;
}

#phoneNumber {
    width: 30px;
}

.call-options {
    display: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 4.5vw;
    background-color: white;
    border-top: 2px solid #CFD8DC;
    border-left: 1px solid #CFD8DC;
    border-top-left-radius: 5vw;
    padding: 5vw 5vw 0 5vw;
    z-index: 1000;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 6;
}

.call-option {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5vw;
    color: black;
    text-decoration: none;
}

.call-option-close-btn {
    position: absolute;
    top: 0px;
    right: 5px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #333;
}

.call-option img {
    width: 6vw;
}

.basketBtn {
    width: 35px;
    position: relative;
}

#settingBtn {
    width: 30px;
}

#checkboxCount {
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 15px;
    display: none;
    position: absolute;
    top: -5px;
    right: 0px;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    /* text-align: center; */
}

.popup-content button {
    /* margin: 10px; */
    /* padding: 10px 20px; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content#confirmDelete,
.popup-content#confirmClearAll,
.popup-content#cancelDelete,
.popup-content#cancelClearAll {
    text-align: center;
}

.popup-content button#confirmDelete,
.popup-content button#confirmClearAll,
.popup-content button#cancelDelete,
.popup-content button#cancelClearAll {
    margin: 10px;
    padding: 10px 20px;
}

.popup-content button#confirmDelete,
.popup-content button#confirmClearAll {
    background-color: #ff4d4d;
    color: white;
}

.popup-content button#cancelDelete,
.popup-content button#cancelClearAll {
    background-color: #ccc;
    color: black;
}

/* CSS pravilo za sakrivanje čekboksa u popup prozoru otvorenom iz korpe */
.popup-header .item-checkbox.from-cart {
    display: none;
}

/* CSS pravilo za prikaz čekboksa u glavnom prozoru */
.popup-header .item-checkbox {
    display: block;
}

.recommended-item {
    display: flex;
    justify-content: space-between;
}

/* strlica pod dolje */
.scroll-arrow {
    position: fixed;
    bottom: 70px;
    right: 0;
    opacity: 0;
    /* transition: opacity 0.4s ease; */
    display: flex;
    justify-content: center;
    left: 0;
}

.scroll-arrow img {
    width: 8%;
}

.scroll-arrow.visible {
    opacity: 1;
    z-index: 3;
    /* transition: opacity 1s ease; */
}


/* Osnovni stilovi za dugme za pretragu */
.searchBtn {
    width: 17px;
}

.searchBtn:hover {
    background-color: #0056b3;
    /* Tamnija plava boja na hover */
}

.searchBtn[aria-expanded="true"] {
    background-color: #0056b3;
    /* Tamnija plava boja kada je pretraga otvorena */
}

/* Stilovi za kontejner pretrage */
.search-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 5;
    width: 100%;
    /* height: 100vh; */
    transform: translateY(-100%);
    overflow-y: auto;
    transition: all 0.2s ease-in-out;
}

.search-container.open {
    transform: translateY(0);
}

/* Stilovi za zaglavlje pretrage */
.search-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
}

.search-header h3 {
    font-size: 16px;
    padding: 0 0 10px 0;
}

.search-header h3:hover {
    color: #007bff;
    /* Plava boja na hover */
}

.search-box {
    display: flex;
    width: 100%;
}

/* Stilovi za kontejner filtera */
#filterContainer {
    width: 70%;
    /* max-width: 600px; */
    margin-bottom: 20px;
}

#filterContainer input[type="radio"] {
    margin-right: 10px;
}

#filterContainer label {
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

#filterContainer label:hover {
    color: #007bff;
    /* Plava boja na hover */
}

#searchContainer {
    width: 100%;
}

/* Stilovi za polje za unos */
#searchInput {
    width: 100%;
    /*  max-width: 600px; */
    padding: 5px;
    font-size: 14px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
}

#searchInput:focus {
    border-color: #007bff;
    /* Plava boja kada je polje u fokusu */
    outline: none;
}

/* Stilovi za rezultate pretrage */
.search-results {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
}

.search-result-item {
    padding: 10px;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-result-item:last-child {
    border-bottom: none;
}

.search-result-item:hover {
    background-color: #f9f9f9;
    /* Svetlo siva pozadina na hover */
}

/* Animacija za highlight stavke */
@keyframes highlight {
    0% {
        background-color: rgba(38, 42, 72, 0.5);
        /* Žuta boja sa providnošću */
    }

    100% {
        background-color: transparent;
    }
}

.highlight {
    animation: highlight 3.5s ease;
}


/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 95%;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #053a5f;
    background-color: #d3d1dc;
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: -4px;
    /* Centers thumb on the track */

    /*custom styles*/
    background-color: #5cd5eb;
    background-color: #157954;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
}

/* input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
} */

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: #053a5f;
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    border: none;
    /*Removes extra border that FF applies*/
    border-radius: 0;
    /*Removes default border-radius that FF applies*/

    /*custom styles*/
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
}


.menu-card-img-zoom {
    /* background-color: rgba(0, 0, 0, .2); */
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 20%,
            rgba(0, 0, 0, 0.3) 50%,
            rgba(0, 0, 0, 0) 80%);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color .15s ease 0s;
    -o-transition: background-color .15s ease 0s;
    transition: background-color .15s ease 0s;
    border-radius: 0 30px 30px 0;
}

.menu-card-img-zoom>img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    /* opacity: 0; */
    position: absolute;
    top: 50%;
    -webkit-transition: opacity .3s ease 0s;
    -o-transition: opacity .3s ease 0s;
    transition: opacity .3s ease 0s;
}